body {
    background-color: #1e1e1e;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

h2 {
    font-family: "Rubik", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
  }

p {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #ffffff;
  }

img {
    float: right;
    width: 150px;
    height: 150px;
    border-radius: 25px;

}