body {
    background-color: #252525;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #ffffff;
  }